.Tmaui, .Tmaui > body, .Tmaui-Root {
  height: 100%;
}

.Tmaui > body {
  background-color: var(--color_background_primary);
}

.Tmaui * {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;

  margin: 0;
  padding: 0;

  border: none;
  text-decoration: none;
  text-transform: none;
}

.Tmaui svg {
  display: block;
}
